.newGame {
    padding-top: 3em;
}

.message {
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.error {
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
    color: red;
}